body {
    font-family: monospace;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
.version {
	padding-left: 2%;
	font-size: 50%;
	color: rgba(0, 0, 0, .4);
}
.dark .version {
	color: rgb(194, 194, 194);
}

/* Theme changer */
.theme-select {
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 0.5;
    transition: opacity 0.2s;
}
.theme-select:hover {
    opacity: 1;
}

.app{
    width: 640px;
    margin: auto;
    color: #000000;
}
.app a{
    color: #000000;
}
.dark {
    background-color:#111;
    color: #ddd;
}
.dark .app {
    color: #ddd;
}
.dark a {
    color: #ddd;
}
#pinkfie-player{
    width: 640px;
    margin: 0 auto;
}