.watcher-pinkfie-menu-vertical {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}
.watcher-pinkfie-menu-vertical div {
  padding: 3px;
  margin: 3px;
  color: rgb(255, 255, 255);
}
.watcher-pinkfie-menu-vertical div:hover {
  cursor: pointer;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1);
}

.pinkfie-player-root{
  font-family: monospace;
}
.pinkfie-player-stage{
  position: relative;
}
/* Player Click To Play */
.pinkfie-player-click-to-play-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pinkfie-player-click-to-play-icon {
  width: 10em;
  height: 10em;
  background-image: url(click-to-play.svg);
  background-size: 100% 100%;
}

/* Player Fullscreen */
.pinkfie-player-root[fullscreen] {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
}
.pinkfie-body-fullscreen {
  background: #000;
  overflow: hidden;
}

/* Player Settings */
.watcher-pinkfie-setting {
  color: #fff;
}
.watcher-pinkfie-setting a {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}